.audio-element {
  background-color: #eee;
  border: 1px solid #ddd;
  margin: auto;
  border-radius: 3px;
  height: 128px;
}

.download-btn {
}

#buttons {
  width: 100%;
  bottom: 10px;
  position: absolute;
}
.row {
  text-align: center;
  width: 100%;
  margin: auto;
}
