.audio-div {
  background-color: #eee;
  border: 1px solid #ddd;
  margin: auto;
  border-radius: 3px;
  height: 128px;
}

.audio-div:active {
  background-color: #ccc;
}

.buttons {
  width: 100%;
  bottom: 10px;
  position: absolute;
}

.row {
  text-align: center;
  width: 100%;
  margin: auto;
}
